<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8" />
<title>Manipulation de vue</title>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>

<div id="monapp">
	<ul>
		<li>Couleur de la police <br>
			<label>Rouge</label><input type="radio" value="red" v-model="colorChoice"><br>
			<label>Bleu</label><input type="radio" value="blue" v-model="colorChoice">
		</li>
		<li>
			<label>Afficher/Cacher le paragraphe?</label>
			<input type="checkbox" v-model="visible">
		</li>
	</ul>

	<p :style="{color: colorChoice}"v-show="visible">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam pariatur ‹ mollitia et, inventore delectus. Doloribus laudantium maiores at necessiti ipsum distinctio?</p>
</div>

<script>

	const appli = {
		data () {
				return {
					visible: false,
					colorChoice: "black",
				}
			}
	};
	
Vue.createApp(appli).mount("#monapp");

</script>

</body>
</html>
